cover__link {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    max-width: 1184px;
    min-height: 740px;
}

.cover__link:hover::before {
    opacity: .8;
}

.cover__link:before {
    content: "";
    position: absolute;
    opacity: .3;
    background-color: #2A2C2F;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
}


@media screen and (max-width: 1024px) {
    .cover__link {
        max-width: 1024px;
        min-height: 640px;
    }
}
@media screen and (max-width: 768px) {
    .cover__link {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 590px) {
    .cover__link {
        max-width: 320px;
        min-height: 200px;
    }
}