.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "place__title place__website"
    "place__image place__text"
    "place__image place__text";
}

@media screen and (max-width: 320px) {
    .place {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "place__title"
        "place__website"
        "place__image"
        "place__text";
        grid-row-gap: 32px;
    }
}

/*tak nado for commit*/