.place__website {
    grid-area: place__website;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 12px;
}


@media screen and (max-width: 320px) {
    .place__website {
        margin: 0;
    }
    
}